<h3>Novo Curso</h3>
<form class="form-horizontal" name="form" ng-submit="save(course)">
  <fieldset>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Nome</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="name" ng-model="course.name" placeholder="Nome" required>
        <span ng-show="form.name.$error.required">Nome é Obrigatório.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Descrição</label>
      <div class="col-lg-10">
        <textarea class="form-control" ng-model="course.description" rows="3" id="textArea"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Salvar</button>
      </div>
    </div>
  </fieldset>
</form>
