<a class="btn btn-success" ui-sref="classroom-new">Criar Matricula</a>
</br>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Aluno</th>
      <th>Curso</th>
      <th>Data da matricula</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="classroom in classrooms">
      <td>{{$index + 1}}</td>
      <td>{{classroom.student_name}}</td>
      <td>{{classroom.course_name}}</td>
      <td>{{classroom.entry_at | date:'dd-MM-yyyy' }}</td>
      <td>
        <a ui-sref="classroom-show({id: classroom.id})" class="btn btn-default">Editar</a>
        <a ng-click="remove(classroom)" class="btn btn-danger">Deletar</a>
      </td>
    </tr>
    </tbody>
</table>
