<a class="btn btn-success" ui-sref="students-new">Adicionar Aluno</a>
</br>
<table class="table table-striped table-hover">
  <thead>
    <tr class="active">
      <th>#</th>
      <th>Nome</th>
      <th>Registro</th>
      <th>Cursos Matriculados</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="student in students">
      <td>{{$index + 1}}</td>
      <td>{{student.name}}</p></td>
      <td>{{student.register_number}}</td>
      <td>
        <span class="label label-info" ng-repeat="course in student.courses">{{course.name}}</span>
      </td>
      <td>
        <select id="status"
          ng-model="student.status"
          ng-options="status.id as status.name for status in statuses"
          class="form-control col-md-6" name="status" ng-change="changeStatus(student)">
        </select>
      </td>
      <td>
        <a ui-sref="student-show({id:student.id})" class="btn btn-default btn-sm">Editar</a>
        <a ng-click="remove(student)" class="btn btn-danger btn-sm">Deletar</a>
      </td>
    </tr>
  </tbody>
</table>
